//
// butter-css
//

// Namespaces
$butter-grid-namespace: "grid" !default;
$butter-grid-column-namespace: "grid__col" !default;

// Column groups
$butter-col-groups: (2, 3, 4, 5, 6, 8, 12) !default;

// Gutter width
$butter-gutter-width: 20px !default;

// Breakpoints
$butter-breakpoint-medium: 700px !default;
$butter-breakpoint-small: 480px !default;

@mixin base-column($flex, $gutter) {
    flex: $flex;
    padding-left: $gutter;
}

@mixin base-numbered-column($col, $group, $gutter) {

}

@mixin base-grid($gutter) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;

  .#{$butter-grid-column-namespace} {
    @include base-column(1, $gutter);
  }

  .#{$butter-grid-column-namespace}--am {
    @include base-column(1, $gutter);
    align-self: center;
  }

  .#{$butter-grid-column-namespace}--ab {
    @include base-column(1, $gutter);
    align-self: flex-end;
  }

  // Might not be needed. This seems to be the default
  .#{$butter-grid-column-namespace}--stretch {
    @include base-column(1, $gutter);
    align-self: stretch;
  }


  @each $group in $butter-col-groups {
    @for $i from 1 through $group {
      .#{$butter-grid-column-namespace}--#{$i}-of-#{$group} {
        flex: 0 0 percentage($i/$group);
        padding-left: $gutter;
      }

      .#{$butter-grid-column-namespace}--#{$i}-of-#{$group}--centered {
        flex: 0 0 percentage($i/$group);
        $margin: percentage(($group - $i) / $group) / 2;
        margin-left: $margin;
        margin-right: $margin;
      }
    }
  }
}

.#{$butter-grid-namespace} {
  @include base-grid($butter-gutter-width);
}

.#{$butter-grid-namespace}--no-gutter {
  @include base-grid(0);
}

.#{$butter-grid-namespace}--even-spacing {
  // TODO
}

